<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>About Us</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand h1">Generación de Variables Aleatorias</span>
  </nav>
  <div class="container">

    <div class="jumbotron">
      <p class="lead">Integrantes</p>
      <hr class="my-4">
      <ul class="list-group">
        <li class="list-group-item">Álvarez Franco Alberto Ulises</li>
        <li class="list-group-item">Martínez Villagómez Tania</li>
        <li class="list-group-item">Mendoza García Orlando Isay</li>
      </ul>

    </div>

  </div>
</body>

</html>