<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Método de la transformada inversa de Bernoulli</title>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Método de la transformada inversa de Bernoulli</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center">
          <img src="icon-settings.png">
        </div>
        <div class="col-lg-8">
          <p class="text-justify">El método de la transformada inversa puede utilizarse para simular variables aleatorias continuas, lo cual se logra mediante la función acumulada F(x) y la generación de números pseudoaleatorios.</p>
          <p class="text-justify">La variable aleatoria de Bernoulli con parámetro p puede ser generada a través de la regla de decisión:</p>
          <img src="eq-main.gif" class="center">
          <p class="text-justify">Se puede utilizar este método para simular un evento donde una máquina puede o no fallar. Es necesario definir el número de eventos a simular y la probabilidad de que la máquina falle.</p>
        </div>
      </div>  
      <hr />
      <div class="row">        
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
          <h4>Datos de entrada</h4>    
        </div>
      </div>
      
      <form>
        <div class="row">        
          <div class="col-lg-4"></div>
          <div class="col-lg-2">
            <div class="form-group">
              <label for="n">N (events):</label>
              <input type="number" class="form-control" id="n" step="1" min="1" max="1000" value="5">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="p">p (probabilidad de fallo):</label>
              <input type="number" class="form-control" id="p" step="0.01" min="0" max="1" value="0.1">
            </div>
          </div>         
        </div>        
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-8 text-right">
            <div class="form-group">
              <input type="button" class="btn btn-primary align-bottom" id="submit" value="Simular">
            </div>
          </div>
        </div>
      </form>
      <div id="results" style="display:none">
        <hr />
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-8">
            <h4>Resultados</h4>
            <p id="results-desc"></p>
            <table class="table table-striped" id="tbl-results"></table>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <script src="bernoulli-dist.js"></script>
  </body>
</html>